<h1>Editing Book</h1>
<%= render 'layouts/error', book: @editbook %>

<%= form_with model: @editbook, local:true do |f| %>
<div class="field">
  <%= f.label :title, 'タイトル' %>
  <%= f.text_field :title %>
</div>

<div class="field">
  <%= f.label :body %>
  <%= f.text_area :body %>
</div>

<div class="field">
  <%= f.submit %>
</div>

<% end %>

<%= link_to 'Show', book_path(@editbook) %>
|
<%= link_to 'Back', books_path %>